/*CHANGE ALL EMs to VWs*/

body {
    font-family: 'Bowlby One SC', cursive;
    margin: 0;
    background-color: #e6e6e6;
}

h1 {
    line-height: 1;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 10px;
    font-size: 3em;
    color: #91d372;
}

.title {
    padding: 5px;
    background-color: #575959;
}

.timer-section {
    margin: 0 auto;
    width: 60%;
    height: 60px;
    background-color: #575959;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 9px 12px 0px, rgba(0, 0, 0, 0.19) 0px 9px 21px 0px;
}

.countdown-text {
    color: white;
    font-size: 3.5vw;
}

.game-area {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 660px;
    height: 89vh;
}


.start-game {
    line-height: 1.8;
    text-shadow: #00ff00 0 0 1px, #00ff00 1px 1px 10px;
    height: 60px;
    width: 100%;
    font-family: Orbitron, cursive;
    font-size: 2em;
    outline: none;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #063110;
    color: #0ddc0d;
    border: solid 3px black;
}

.selected-difficulty,
.not-selected-difficulty {
    height: 100px;
    width: 15%;
    border: 0;
    font-family: 'Bowlby One SC', cursive;
    font-size: 3vw;
    outline: none;
}

.show-scores {
    float: right;
    width: 30%;
    height: 100px;
    font-size: 3vw;
    border: 0;
    font-family: 'Bowlby One SC', cursive;
    outline: none;
    color: #7cd664;
    background-color: #004a14;
}

.easy:not(.active-button),
.hard:not(.active-button),
.show-scores:not(.active-button) {
    opacity: 0.3;
}

.easy {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.hard {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.selected-difficulty {
    color: #91d372;
    background-color: #004a14;
}

.not-selected-difficulty {
    background-color: #575959;
    color: #9fa79a;
}

.menu-bar {
    background-color: #575959;
    height: 100px;
    width: 100%;
    bottom: 0;
    margin-top: auto;
}

.highlight {
    background-color: black;
}


.selector {
    height: 200px;
    width: 200px;
    margin: 20px;
}

.selector {
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

/*Needs changing for very small screens*/

.simon-container {
    position: relative;
    margin: 0 auto;
    background-color: #252626;
    width: 465px;
    border-radius: 25px;
    box-shadow: 10px 10px 11px -1px #838483;
}

.row-container {
    display: flex;
    justify-content: center;
}

.blue {
    background-color: #81d0d7;
    border-radius: 25px;

}

.red {
    background-color: #ff9c9c;
    border-radius: 25px;
}

.green {
    background-color: #a0d07d;
    border-radius: 25px;
}

.yellow {
    background-color: #d5d05d;
    border-radius: 25px;
}

/*https://codepen.io/jackrugile/pen/ABeIi*/

.green-highlighted {
    animation: green-glow 750ms ease-out infinite alternate;
    border-color: #393;
    box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1);
    color: #efe;
    outline: none;
    background-color: #6aff00;
}

.active.green:active {
    background-color: #6aff00;
}


@keyframes green-glow {
    0% {
        border-color: #393;
        box-shadow: 50 50 120px rgba(0, 255, 0, 0), inset 50 50 5px rgba(0, 255, 0, 0);
    }
    100% {
        border-color: #6f6;
        box-shadow: 0 0 120px rgba(0, 255, 0, .9), inset 0 0 5px rgba(0, 255, 0, .8);
    }
}

.blue-highlighted {
    animation: blue-glow 750ms ease-out infinite alternate;
    border-color: #393;
    box-shadow: 0 0 5px rgba(255, 255, 255, .2), inset 0 0 5px rgba(255, 255, 255, .1);
    color: #efe;
    outline: none;
    background-color: #00ebff;
}

.active.blue:active {
    background-color: #00ebff;
}

@keyframes blue-glow {
    0% {
        border-color: #3afffc;
        box-shadow: 0 0 120px rgba(0, 231, 255, 0), inset 0 0 5px rgba(0, 231, 255, .0);
    }
    100% {
        border-color: #3afffc;
        box-shadow: 0 0 120px rgba(0, 231, 255, 1), inset 0 0 5px rgba(0, 231, 255, .8);
    }
}

.yellow-highlighted {
    animation: yellow-glow 750ms ease-out infinite alternate;
    border-color: #f4ff18;
    box-shadow: 0 0 5px rgba(255, 255, 0, .2), inset 0 0 5px rgba(255, 255, 0, .1);
    color: #efe;
    outline: none;
    background-color: #fff500;
}

.active.yellow:active {
    background-color: #fff500;
}

@keyframes yellow-glow {
    0% {
        border-color: #f4ff18;
        box-shadow: 50 50 120px rgba(255, 255, 0, 0), inset 50 50 5px rgba(255, 255, 0, 0);
    }
    100% {
        border-color: #f4ff18;
        box-shadow: 0 0 120px rgba(255, 255, 0, .9), inset 0 0 5px rgba(255, 255, 0, .8);
    }
}

.red-highlighted {
    animation: red-glow 750ms ease-out infinite alternate;
    border-color: #fc003e;
    box-shadow: 0 0 5px rgba(255, 0, 0, .2), inset 0 0 5px rgba(255, 0, 0, .1);
    color: #efe;
    outline: none;
    background-color: #ff0000;
}

.active.red:active {
    background-color: #ff0000;
}

@keyframes red-glow {
    0% {
        border-color: #fc003e;
        box-shadow: 50 50 120px rgba(255, 0, 0, 0), inset 50 50 5px rgba(255, 0, 0, 0);
    }
    100% {
        border-color: #fc003e;
        box-shadow: 0 0 120px rgba(255, 0, 0, .9), inset 0 0 5px rgba(255, 0, 0, .8);
    }
}

.message {
    position: absolute;
    transform: rotate(24deg);
    font-size: 2em;
    left: 387px;
    top: -90px;
    z-index: 1;
    visibility: hidden;
}

/* The Modal (background) */

/*Need to edit!!*/

/*https://www.w3schools.com/howto/howto_css_modals.asp*/

.modal {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 2;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5);
    /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 0px 0px 0px 0px;
    border: none;
    z-index: 3;
    margin-top: 100px;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.submit-title h2 {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 4em;
    line-height: 1;
    color: #00874a;
}

.leaderboard-message {
    font-size: 3em;
    text-align: center;
    color: #33acb7;
    line-height: 1.1;
}

@media screen and (max-width: 708px) {
    .leaderboard-message {
        font-size: 1.8em;
    }
}

@media screen and (max-width: 400px) {
    .leaderboard-message {
        font-size: 1em;
    }
    .submit-title h2 {
        font-size: 3em;
    }
}

input[name="hardNameSubmit"] {
    padding-bottom: 0px;
    padding-right: 0px;
    border: none;
    background-color: #575959;
    width: 70%;
    font-family: 'Bowlby One SC', cursive;
    color: #9fa79a;
    height: 100px;
    font-size: 2em;
    padding-left: 5%;
    outline: none;
    text-transform: uppercase;
    vertical-align: middle;
}

.submit-button {
    border: none;
    width: 25%;
    vertical-align: middle;
    height: 100px;
    background-color: #f6e4e9;
    color: #00874a;
    font-family: 'Bowlby One SC', cursive;
    float: right;
    padding: 0;
    font-size: 3vw;
}

.leaderboard-title {
    line-height: 1;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #00874a;
    padding-left: 10px;
    padding-top: 10px;
    display: none;
}

.leaderboard-title h2 {
    margin: 0;
    font-size: 5.5vw;
}

.table {
    width: 97%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    border-collapse: collapse;
}



.table th {
    width: 24%;
}



.table th:first-child {
    width: 8%;
}

.table tr:nth-child(2) {
    font-size: 5vw;
}

.table tr:nth-child(3) {
    font-size: 4vw;
}


.table tr:nth-child(4) {
    font-size: 3vw;
}

.yellow-circle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: yellow;
    left: 387px;
    top: -90px;
    z-index: 4;
}

.table tr:nth-child(2) td:first-child {
    background-color: yellow;
    border-radius: 100%;
    padding: 20px;
}

.table tr:nth-child(2) td:nth-child(2) {
    background-color: yellow;
    border-radius: 30px 0px 0px 30px;
}


.table tr:nth-child(2) td:nth-child(3) {
    background-color: yellow;
    border-radius: 0px 30px 30px 0px;
}

.table tr:nth-child(3) td:nth-child(2) {
    background-color: rgba(252, 255, 0, .5);
    border-radius: 30px 0px 0px 30px;
}

.table tr:nth-child(3) td:nth-child(3) {
    background-color: rgba(252, 255, 0, .5);
    border-radius: 0px 30px 30px 0px;
}

.table tr:nth-child(4) td:nth-child(2) {
    background-color: rgba(252, 255, 0, .2);
    border-radius: 30px 0px 0px 30px;
}

.table tr:nth-child(4) td:nth-child(3) {
    background-color: rgba(252, 255, 0, .2);
    border-radius: 0px 30px 30px 0px;
}

td {
    padding: 10px;
}


tr {
    font-size: 2.2vw;
    color: #00874a;
}
